<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/new/Public/js/rem.js"></script>
    <script src="/new/Public/js/jquery-3.2.1.min.js"></script>
    <!--<script src="/new/Public/js/iscroll.js"></script>-->
    <script src="/new/Public/js/category.js"></script>
    <link rel="stylesheet" href="/new/Public/css/category.css">
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p>歌手</p>
    <a></a>
</header>
<nav>
    <ul>
        <li><a href="">歌手</a></li>
        <li><a href="">排行</a></li>
        <li><a href="">常唱</a></li>
        <li><a href="">推荐歌单</a></li>
    </ul>
    <input type="text" class="sou">
    <div class="top">
        <!--<div><div class="des">内地偶像组合</div></div>-->
    </div>
    <div class="center">
       <!-- <div><div class="des">内地男歌手</div></div>
        <div><div class="des">港台歌手</div></div>
        <div><div class="des">日韩女歌手</div></div>-->
    </div>
    <div class="bottom">
        <!--<div><div class="des">内地女歌手</div></div>
        <div><div class="des">青春偶像男歌手</div></div>-->
    </div>
</nav>
</body>
</html>