<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/new/Public/js/rem.js"></script>
    <script src="/new/Public/js/jquery-3.2.1.min.js"></script>
    <script src="/new/Public/js/iscroll.js"></script>
    <script src="/new/Public/js/cgmusic.js"></script>
    <link rel="stylesheet" href="/new/Public/css/cgmusic.css">
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p>Baby</p>
    <a href="/new/index.php/tz/scmusic">已收藏</a>
</header>
<nav>
    <div class="left">
        <div class="photo">
            <img src="../../Public/img/dzc.jpg" alt="">
        </div>
    </div>
    <div class="right">
        <div>
            <p class="xinxi"><span>CAOIU YABS</span>--<span>大陆女歌手</span></p>
            <p>
                <img src="../../Public/img/songsmusic.png" alt=""><span>歌曲</span><span class="gequ">92</span>
                <span class="k"></span>
                <img src="../../Public/img/songsvideo.png" alt=""><span>MV</span><span class="mv">24</span>
            </p>
        </div>
        <div><span>本月点击量:</span><span class="single">23456</span></div>
    </div>
</nav>
<div class="wrapper">
    <div class="kong"></div>
    <ul class="content">
        <li>
            <div>
                <p>
                    <span>01</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>歌手与演员--李荣浩</span></p>
                <p>04''52'</p>
            </div>
            <div></div>
        </li>
        <li>
            <div>
                <p>
                    <span>02</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tou">歌手与演员</span>--<span  class="tou">李荣浩</span></p>
                <p>04''52'</p>
            </div>
            <div>

            </div>
        </li>
        <li>
            <div>
                <p>
                    <span>03</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>歌手与演员--李荣浩</span></p>
                <p>04''52'</p>
            </div>
            <div>

            </div>
        </li>
        <li>
            <div>
                <p>
                    <span>03</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>歌手与演员--李荣浩</span></p>
                <p>04''52'</p>
            </div>
            <div>

            </div>
        </li>


    </ul>
</div>
</body>
</html>