<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/new/Public/js/rem.js"></script>
    <script src="/new/Public/js/jquery-3.2.1.min.js"></script>
    <!--<script src="/new/Public/js/iscroll.js"></script>-->
    <script src="/new/Public/js/cgsinger.js"></script>
    <link rel="stylesheet" href="/new/Public/css/cgsinger.css">
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p>歌手</p>
    <a></a>
</header>
<nav>
    <ul>
        <li><a href="">歌手</a></li>
        <li><a href="">排行</a></li>
        <li><a href="">常唱</a></li>
        <li><a href="">推荐歌单</a></li>
    </ul>
    <input type="text" class="sou" placeholder="输入要查找的歌曲">
</nav>
<div class="main">
</div>
</body>
</html>