<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
           minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/new/Public/css/game.css">
    <script src="/new/Public/js/rem.js"></script>
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p>游戏</p>
    <a></a>
</header>
<ul class="main">
    <li><a href="/new/index.php/game/select?type=1"><span>真心话</span></a></li>
    <li><a href="/new/index.php/game/select?type=2">大冒险</a></li>
    <li><a href="">真心话</a></li>
    <li><a href="">大冒险</a></li>
    <li><a href="">真心话</a></li>
    <li><a href="">大冒险</a></li>
</ul>
</body>
</html>