<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/new/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/new/Public/css/index.css">
</head>
<body>
<ul class="main">
    <li><a href="/new/index.php/category"></a></li>
    <li><a href="/new/index.php/game"></a></li>
    <li><a href="/new/index.php/shop"></a></li>
    <li><a href="/new/index.php"></a></li>
</ul>
</body>
</html>