<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/new/Public/js/rem.js"></script>
    <script src="/new/Public/js/jquery-3.2.1.min.js"></script>
    <!--<script src="/new/Public/js/iscroll.js"></script>-->
    <script src="/new/Public/js/play.js"></script>
    <link rel="stylesheet" href="/new/Public/css/play.css">
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p>Baby</p>
    <a></a>
</header>
<nav>
    <ul class="lyrics">
        <!--<li>故事的小黄花</li>
        <li>从出生那年就飘着</li>
        <li>童年的荡秋千</li>
        <li>随记忆一直晃到现在</li>
        <li>rui sou sou xi dou xi la</li>
        <li>sou la xi xi xi xi la xi la sou</li>
        <li>吹着前奏望着天空</li>
        <li>我想起花瓣试着掉落</li>
        <li>为你翘课的那一天</li>
        <li>花落的那一天</li>
        <li>教室的那一间</li>
        <li>我怎么看不见</li>
        <li>消失的下雨天</li>
        <li>我好想再淋一遍</li>
        <li>没想到失去的勇气我还留着</li>-->
    </ul>
</nav>
<div class="but">
    <div><img src="../../Public/img/gc3.png" alt=""><p>原/伴</p></div>
    <div><img src="../../Public/img/gc4.png" alt=""><p>切歌</p></div>
    <div class="play"><img src="../../Public/img/gc5.png" alt=""><p></p></div>
    <div><img src="../../Public/img/gc6.png" alt=""><p>重唱</p></div>
    <div><img src="../../Public/img/gc7.png" alt=""><p>录歌</p></div>
</div>
<div class="kongzhi">
    <div class="mai">
        <div></div>
        <div class="tiao">
            <div class="select">
                <div class="button"></div>
            </div>
        </div>
        <span class="ctime"></span>/
        <span class="duration"></span>
    </div>
    <div class="yin">
        <div></div>
        <div class="tiao">
            <div class="select">
                <div class="button"></div>
            </div>
        </div>
    </div>
</div>
<audio id="audio" src=""></audio>
<div class="main">
</div>
</body>
</html>