<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/new/Public/js/rem.js"></script>
    <script src="/new/Public/js/jquery-3.2.1.min.js"></script>
    <!--<script src="/new/Public/js/iscroll.js"></script>-->
    <script src="/new/Public/js/scmusic.js"></script>
    <link rel="stylesheet" href="/new/Public/css/scmusic.css">
</head>
<body>
<div class="kong1"></div>
<header>
    <a href="javascript:history.back()"></a>
    <p>Baby</p>
    <a class="gong">共26首</a>
</header>
<div class="kong"></div>
<div class="main">
    <ul class="mlist">
        <li>
            <span>
                <img src="../../Public/img/gs-12.png" alt="">
            </span>
            <div>
                <p>
                    <span>歌手与演员--李荣浩</span></p>
                <p>04''52'</p>
            </div>
            <div>
                <span></span>
                <span></span>
            </div>
        </li>
        <li>
            <span>
                <img src="../../Public/img/gs-12.png" alt="">
            </span>
            <div>
                <p>
                    <span>歌手与演员--李荣浩</span></p>
                <p>04''52'</p>
            </div>
            <div>
                <span></span>
                <span class="tops"></span>
            </div>
        </li>
        <li>
            <span>
                <img src="../../Public/img/gs-12.png" alt="">
            </span>
        <div>
            <p>
                <span>歌手与演员--李荣浩</span></p>
            <p>04''52'</p>
        </div>
        <div>
            <span></span>
            <span></span>
        </div>
    </li>
    </ul>
</div>
</body>
</html>