<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/new/Public/js/rem.js"></script>
    <script src="/new/Public/js/jquery-3.2.1.min.js"></script>
    <script src="/new/Public/js/iscroll.js"></script>
    <script src="/new/Public/js/shop.js"></script>
    <link rel="stylesheet" href="/new/Public/css/shop.css">
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p>商品列表</p>
    <a></a>
</header>
<nav>
    <ul>
        <li class="active" id="1">
            <span>酒水</span>
            <span  class="wineNum">0</span>
        </li>
        <li id="2">
            <span>零食</span>
            <span class="snackNum">0</span>
        </li>
        <div class="flag"></div>
    </ul>
</nav>

<div class="wrapper main winelist active" id="wrapper">
    <ul class="scroll">
    </ul>
</div>
<div class="wrapper main snacklist">
    <ul class="scroll">

    </ul>
</div>
<footer>
    <ul class="choose">
        <p>已选</p>
        <ul>

        </ul>
        <div>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </ul>
    <div class="bottom">
        <div class="total">
            <span>合计:&nbsp;</span>
            <span class="totalNum">0.00</span>
            <span>&nbsp;RMB</span>
        </div>
        <a href="javascript:;">选好了</a>
    </div>
</footer>
</body>
</html>