<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/new/Public/js/rem.js"></script>
    <script src="/new/Public/js/jquery-3.2.1.min.js"></script>
    <script src="/new/Public/js/iscroll.js"></script>
    <script src="/new/Public/js/shopSure.js"></script>
    <link rel="stylesheet" href="/new/Public/css/shopSure.css">
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p>3838次列车</p>
    <a></a>
</header>
<nav>
    <span  class="wineNum">0</span>
</nav>

<div class="main winelist active" id="wrapper">
    <ul class="scroll">
        <!--        <li class="list">
                    <div class="left">
                        <img src="/new/public/img/sd3.png" alt="">
                    </div>
                    <div class="right">
                        <div>
                            <span>啤酒</span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div>
                            ￥<span>8.6</span>/瓶
                        </div>
                        <div>
                            <span class="reduce"></span>
                            <span>02</span>
                            <span class="plus"></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <img src="/new/public/img/sd6.png" alt="">
                    </div>
                    <div class="right">
                        <div>
                            <span>啤酒</span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div>
                            ￥<span>8.6</span> /瓶
                        </div>
                        <div>
                            <span></span>
                            <span>02</span>
                            <span></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <img src="/new/public/img/sd3.png" alt="">
                    </div>
                    <div class="right">
                        <div>
                            <span>啤酒</span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div>
                            ￥<span>8.6</span> /瓶
                        </div>
                        <div>
                            <span></span>
                            <span>02</span>
                            <span></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <img src="/new/public/img/sd6.png" alt="">
                    </div>
                    <div class="right">
                        <div>
                            <span>啤酒</span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div>
                            ￥<span>8.6</span> /瓶
                        </div>
                        <div>
                            <span></span>
                            <span>02</span>
                            <span></span>
                        </div>
                    </div>
                </li>-->
    </ul>
</div>
<!--<div class="wrapper winelist active">
    <ul class="scroll">

    </ul>
</div>
<div class="wrapper snacklist">
    <ul class="scroll">

    </ul>
</div>-->
<!--<section class="foot">
    <div class="first">
        已选
    </div>
    <ul class="center">
        <li>啤酒&nbsp;6瓶</li>
        <li>爆米花&nbsp;2份</li>
        <li>果盘&nbsp;2份</li>
    </ul>
    <ul class="last">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>-->
<footer>
    <ul class="choose">
    </ul>
    <div class="bottom">
        <div class="total">
            <span>合计:&nbsp;</span>
            <span class="totalNum">0.00</span>
            <span>&nbsp;RMB</span>
        </div>
        <a href="javascript:;">确认提交</a>
    </div>
</footer>
</body>
</html>