<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
           minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/new/Public/css/shop.css">
    <script src="/new/Public/js/rem.js"></script>
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p>商店</p>
    <a></a>
</header>
<div class="xuanze">
    <div class="jiushui">
        <span>酒水</span>
        <span>20</span>
    </div>
    <div class="lingshi">
        <span>零食</span>
        <span>20</span>
    </div>
</div>
<ul class="main">
    <li>
        <div class="left">
            <div class="tu"></div>
        </div>
        <div class="right">
            <div>啤酒
                <img src="../../Public/img/sd20.png" alt="">
                <img src="../../Public/img/sd20.png" alt="">
                <img src="../../Public/img/sd20.png" alt="">
            </div>
            <div>￥<span>8.6</span>/瓶</div>
            <ul>
                <li>-</li>
                <li>3</li>
                <li>+</li>
            </ul>
        </div>
    </li>
    <li>
        <div class="left">
            <div class="tu"></div>
        </div>
        <div class="right">
            <div>啤酒
                <img src="../../Public/img/sd20.png" alt="">
                <img src="../../Public/img/sd20.png" alt="">
                <img src="../../Public/img/sd20.png" alt="">
            </div>
            <div>￥<span>8.6</span>/瓶</div>
            <ul>
                <li>-</li>
                <li>3</li>
                <li>+</li>
            </ul>
        </div>
    </li>
    <li>
        <div class="left">
            <div class="tu"></div>
        </div>
        <div class="right">
            <div>啤酒
                <img src="../../Public/img/sd20.png" alt="">
                <img src="../../Public/img/sd20.png" alt="">
                <img src="../../Public/img/sd20.png" alt="">
            </div>
            <div>￥<span>8.6</span>/瓶</div>
            <ul>
                <li>-</li>
                <li>3</li>
                <li>+</li>
            </ul>
        </div>
    </li>
</ul>
</body>
</html>